.contact-container {
  width: 100%;
}
.abiwalainput {
  width: Fixed (520px) px;
  height: Hug (301px) px;
  top: 232px;
  left: 30px;
  gap: 20px;
  opacity: 0px;
  padding: 10px;
}
.contact-image img {
  width: 100%;
  /* max-width: 1440px; */
  height: auto;
  object-fit: cover;
}

.new {
  width: 100%;
  height: 663px;
  top: 770px;
  gap: 0px;
  opacity: 0px;
  background-color: #3d9dd61a;
  display: flex;
  justify-content: space-between;
}
.newleft {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.newleft img {
  float: 1;
  margin-top: 20px;
  margin-left: 100px;
  width: 740px;
  height: 60vh;
  top: 378.77px;
  left: 50px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
}

.contactright {
  width: 580px;
  height: 563px;
  /* top: 50px; */
  left: 812px;
  padding: 30px 0px 0px 0px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
  background: #ffff;
  margin-left: 100px;
  margin-top: 40px;
}
.firstandlast {
  display: inline;
  justify-content: space-around;
}
.firstandlast input {
  width: Fixed (250px) px;
  height: Fixed (49px) px;
  padding: 20px 0px 0px 0px;
  gap: 10px;
  border-radius: 30px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin: 10px;
  border: 1px sold #3d9dd61a;
}
.firstandlast input::placeholder {
  color: #090c0899;
  margin: 10px;
}

.contactright h1 {
  /* width: 301px;
  height: 172px; */
  top: 30px;
  left: 30px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 72px;
  font-weight: 400;
  line-height: 86.4px;
  letter-spacing: -1.2799999713897705px;
  text-align: left;
  color: #090c08;
  margin-right: 30px;
}
.contactright h2 {
  /* width: 301px;
  height: 172px; */
  left: 30px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 72px;
  font-weight: 400;
  line-height: 86.4px;
  letter-spacing: -1.2799999713897705px;
  text-align: left;
  color: #2c3590;
  margin-right: 30px;
}
.abiwalabtn {
  width: Fixed (520px) px;
  height: Fixed (54px) px;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  border-radius: 30px;
  opacity: 0px;
  background: linear-gradient(90deg, #0099f7 0%, #12f1e4 100%);
}

/* .right input[type="text"],
.right input[type="email"],
.right input[type="tel"] {
  width: 250px;
  height: 49px;
  padding: 20px 0 0 0;
  margin-bottom: 10px;
  border-radius: 30px 0 0 30px;
  border: 1px solid #ccc;
} */

.lets {
  font-family: Poppins;
  font-size: 72px;
  font-weight: 400;
  line-height: 86.4px;
  letter-spacing: -1.2799999713897705px;
  text-align: left;
  font-family: Poppins;
  font-size: 72px;
  font-weight: 400;
  line-height: 86.4px;
  letter-spacing: -1.2799999713897705px;
  text-align: left;
  color: #090c08;
  width: 301px;
  height: 172px;
  top: 30px;
  left: 30px;
  gap: 0px;
  opacity: 0px;
}
.letsconnect {
  color: #2c3590;
  font-family: Poppins;
  font-size: 72px;
  font-weight: 400;
  line-height: 86.4px;
  letter-spacing: -1.2799999713897705px;
  text-align: left;
  font-family: Poppins;
  font-size: 72px;
  font-weight: 400;
  line-height: 86.4px;
  letter-spacing: -1.2799999713897705px;
  text-align: left;
  width: 301px;
  height: 172px;
  top: 30px;
  left: 30px;
  gap: 0px;
  opacity: 0px;
}
.mapleft {
  width: 574px;
  height: 287px;
  left: 50px;
  gap: 0px;
  opacity: 0px;
  margin-left: 100px;
  margin-top: 100px;
}
.mapleft p {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  width: 379px;
  height: 36px;
  gap: 0px;
  opacity: 0px;
  color: #090c08;
}
.new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.map {
  width: 718px;
  height: 600px;
  top: 1483px;
  left: 674px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mapright {
  width: 580px;
  height: 563px;
  top: 50px;
  /* left: 812px; */
  padding: 30px 0px 0px 0px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
  margin-right: -200px;
}
.mapright img {
  margin-right: 100px;
}

h4 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  width: 124px;
  height: 36px;
  gap: 0px;
  opacity: 0px;
  color: #2c3590;
}
.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.map-container{
  margin-left: 30%;
}
.visit {
  display: inline;
}
.visit h2 {
  font-family: Poppins;
font-size: 48px;
font-weight: 400;
line-height: 57.6px;
text-align: left;
width: 342px;
height: 58px;
gap: 0px;
opacity: 0px;

}

.visit h1 {
  width: 342px;
  height: 58px;
  gap: 0px;
  opacity: 0px;

  font-family: Poppins;
font-size: 48px;
font-weight: 400;
line-height: 57.6px;
text-align: left;
columns: #2C3590;
 }